body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url(../images/background-image.png);
  color: white;
  font-weight: bold;
}

a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
